.mainText {
  max-width: 800px;
}

.textSection {
  margin: 20px 10px;
}

.textSection a {
  color: hotpink;
  text-decoration: underline;
  margin: 5px;
}
.textSection ul {
  margin: 10px 0 0 50px;
}

.textSection li {
  margin: 10px;
}
.textSectionSmall {
  font-size: 12px;
  margin: 50px 0 0 0;
}
